<div class="work-pictures padding-top-xl">
   <div class="work-pictures-single">
      <img src="./assets/img/portfolio.jpg">
      <div class="img-overlay">
         <h3 class="color-primary">My Portfolio</h3>
         <p>Portfolio in angular with animations and in view directive</p>
         <a href="#">
            <button class="button-primary">Give it a try</button>
         </a>
      </div>
   </div>
   <div class="work-pictures-single">
      <img src="./assets/img/ringoffire.jpg">
      <div class="img-overlay">
         <h3 class="color-primary">Ring of fire</h3>
         <p>Angular based cardgame</p>
         <a href="#">
            <button class="button-primary">Give it a try</button>
         </a>
      </div>
   </div>
</div>