<div class="work-pictures padding-top-xl">
   <!--
      Create every Angular work in a seperate div
      Depending on angularprojects-array in angular.component.ts
   -->
   <div *ngFor="let project of angularprojects" let i=index class="work-pictures-single">
      <img src="./assets/img/{{project.img}}.jpg">
      <div class="img-overlay">
         <h3 class="color-primary">{{project.name}}</h3>
         <p>{{project.text}}</p>
         <a href="https://ringoffire.svensonnborn.com/" target="_blank" rel="noopener noreferrer">
            <button class="button-primary">Give it a try</button>
         </a>
      </div>
   </div>
</div>
