<div class="bg-white footer-flex" [class.bottom]="active">
   <div class="footer bg-white padding-bot-l padding-top-l prime-container padding-left padding-right">
      <div>
         <a [routerLink]="['./imprint']" (click)="changeActive(true)" class="paragraph">Imprint</a>
         <span> | </span>
         <a [routerLink]="['./dataprotection']" (click)="changeActive(false)" class="paragraph">Privacy</a>
         <span> | </span>
      </div>
      <div class="footer-img">
         <div>
            <a href="https://www.linkedin.com/in/sven-sonnborn-a32b34228/" target="_blank">
               <img src="./assets/img/LinkedIn 1.png">
            </a>
         </div>
         <div>
            <a href="https://github.com/SvenSonnborn" target="_blank">
               <img src="./assets/img/github-fill.png">
            </a>
         </div>
      </div>
   </div>
</div>
