<div class="landing-container prime-container padding-top-xxl bg-black">
   <div class="landing-upper">
      <div class="left-landing">
         <h1>Hi, <br> I'm <span class="color-primary">Sven</span> Sonnborn <br> Front End develop<span
               class="color-secondary">e</span>r</h1>
         <button class="button-secondary">Contact me</button>
      </div>
      <div class="right-landing">
         <img src="./assets/img/Sven.png">
      </div>
   </div>
   <div class="landing-lower">
      <a href="" class="pulse">
         <img src="./assets/img/arrow-down.png" class="arrow-down">
      </a>
   </div>
</div>