.short-about{
   width: 100%;
   max-width: 800px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: 300;
}

.about-text{
   color: white;
   text-align: center;
   h2{
      font-weight: bold;
   }
   p{
      line-height: 1.6;
      margin: 0;
   }
}

.fly-up {
   animation: fly-up 425ms ease-in-out 1 both;
 }
 
 @keyframes fly-up {
   from {
     opacity: 0;
     transform: translateY(30rem);
   }
   to {
      opacity: 1;
      transform: translateY(0);
    }
 }

.about-img{
   height: 14rem;
   width: 14rem;
   overflow: hidden;
   background-color: #fa2759;
   border-radius: 100%;


   
   img{
      width: 11.5rem;
      margin-left: 1.5rem;
      margin-top: 0.25rem;

   }
}

.splitter{
   background-color: #2dfcd8;
   height: 0.1rem;
   width: 90%;
   max-width: 1100px;
   margin: 2rem 5%;
}

.about-longer{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 5%;
   color: white;
   max-width: 1100px;
}

.about-single-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;

}

.about-single-img{
   background-color: #2dfcd8;
   width: 5rem;
   height: 5rem;
   border-radius: 100%;

   img{
      width: 2rem;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
   }
}

.text-center{
   text-align: center;
}

.lower-text{
   line-height: 1.4;
}

.about-main{
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.capital{
   font-weight: bold;
   font-size: 1.125rem;
}

@media only screen and (min-width: 930px){
   .short-about{
      flex-direction: row;
      justify-content: space-between;
   }
   .about-longer{
      flex-direction: row;
      margin: 0;
      align-items: flex-start;
      min-height: 550px;
      justify-content: space-between;
   }
   .capital{
      min-height: 50px;
   }
   .text-center{
      padding-top: 2rem;
   }
   .about-single-container{
      width: calc(25% - 1rem);
   }
}