.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;


  input {
    padding: 15px;
    border: none;
    outline: none;
    min-width: 230px;
  }

  textarea {
    padding: 15px;
    min-height: 5rem;
    border: none;
    outline: none;
    resize: none;
    min-width: 230px;
    font-family: inter;
    }

  button {
    margin-top: 1.5rem;
    padding: 0.75rem 2.5rem;
  }
}
input.ng-invalid.ng-touched {
  border: red 1px solid;
}

textarea.ng-invalid.ng-touched {
  border: red 1px solid;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  form{
     width: 100%;
     padding-top: 2rem;
  }
}

.center {
  text-align: center;
  max-width: 233px;
}

button:disabled {
  cursor: not-allowed;
}

.color-light-gray {
  color: gray;
}

@media only screen and (min-width: 750px) {
  .contact-container {
    align-items: flex-start;
  }
  form {
    width: 100%;

    input {
      width: calc(100% - 36px);
    }
    textarea {
      width: calc(100% - 36px);
    }
  }
  .center{
     max-width: unset;
  }
  .form-container{
     align-items: flex-start;
  }
}
