<div class="prime-container paddin-top-xxl padding-bot-xxl">
      <h1 class="color-secondary">Contact me.</h1>
      <p class="color-white">Get in touch via the form below or by emailing
         <span class="color-secondary">sven.sonnborn@web.de</span>
      </p>
      <form action="/assets/send_mail/send_mail.pvp" name="form" method="post" required>
         <div class="form-container">
            <label for="name" class="padding-bot-s paragraph">Name</label>
            <input required type="text" placeholder="Enter your name" name="name" id="name"
               class="bg-gray paragraph color-white">
            <label for="email" class="padding-bot-s padding-top-s paragraph">Email adress</label>
            <input required type="email" placeholder="Enter your Email address" name="email" id="email"
               class="bg-gray paragraph color-white">
            <label for="text" class="padding-bot-s padding-top-s paragraph">Message</label>
            <textarea name="text" id="text" placeholder="Enter your message" required
               class="bg-gray paragraph color-white"></textarea>
            <div>
               <button type="submit" class="button-secondary paragraph">Send</button>
            </div>
         </div>
      </form>
</div>