<div class="prime-container flex-main paddin-top-xxl padding-bot-xxl">
   <h2 style="color: white;" class="padding-top-xxl">My work</h2>

   <div class="padding-top-m padding-bot-xl button-row">
      <button id="btn1" class="button-primary button-marg" (click)="angular=false; javascript=false; all=true"
         [class.button-primary-active]="all">ALL</button>
      <button id="btn2" class="button-primary button-marg" (click)="all=false; javascript=false; angular=true"
         [class.button-primary-active]="angular">
         Angular</button>
      <button id="btn3" class="button-primary button-marg" (click)="angular=false; all=false; javascript=true"
         [class.button-primary-active]="javascript">Java
         Script</button>
   </div>


   <ng-template [ngIf]="all">
      <app-angular></app-angular>
      <app-javascript></app-javascript>
   </ng-template>

   <ng-template [ngIf]="angular">
      <app-angular></app-angular>
   </ng-template>

   <ng-template [ngIf]="javascript">
      <app-javascript></app-javascript>
   </ng-template>




</div>