.skill-complete {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  box-sizing: border-box;

}

.all-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.single-skill {
  background-color: #fff;
  width: calc(30% - 20px);
  min-width: 80px;
  height: 60px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  box-shadow: -4px 4px #2dfcd97e;

  p {
    margin: 0px 0 -12px;
    font-size: 16px;
  }

  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8),
  &:nth-child(11) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.single-skill-upper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: -20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #63636333 0 2px 8px;

  img {
    height: 20px;
  }
}

.grow {
  animation: grow 225ms ease-in-out 1 both;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scaleY(0) scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
}

.media-direction {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  flex-wrap: wrap;
}

.fly-in-left {
  animation: fly-in-left 225ms ease-in-out forwards;
}
.fly-in-right {
  animation: fly-in-right 225ms ease-in-out forwards;
}

.destop {
  display: none;
}

@media only screen and (min-width: 750px) {
  .media-direction {
    flex-direction: row;
  }
}

@media only screen and (min-width: 500px) {
  .single-skill{
    height: 80px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 860px) {
  .single-skill{
    height: 100px;
  }
}
