<div class="skill-complete bg-gray prime-container padding-top-l padding-bot-xxl" id="skills">
   <h2 class="padding-bot-l">MY Skills</h2>
   <div class="all-skills">
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="./assets/img/java script.png">
         </div>
         <p class="paragraph">
            Java script
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/angular2.png">
         </div>
         <p class="paragraph">
            Angular
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/Group 205.png">
         </div>
         <p class="paragraph">
            HTML / CSS
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/Group 226.png">
         </div>
         <p class="paragraph">
            SCRUM
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/Git.png">
         </div>
         <p class="paragraph">
            GIT
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/Group 20.png">
         </div>
         <p class="paragraph">
            Design Thinking
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/API.png">
         </div>
         <p class="paragraph">
            Rest API
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/test.png">
         </div>
         <p class="paragraph">
            Test automation
         </p>
      </div>
      <div class="single-skill">
         <div class="single-skill-upper">
            <img src="/assets/img/database.png">
         </div>
         <p class="paragraph">
            Databases
         </p>
      </div>   
   </div>
</div>
