/* You can add global styles to this file, and also import other style files */

body{
   font-size: 18px;
   margin: 0;
   background-color: black;
}

html{scroll-behavior:smooth}

h1{
   font-size: 5rem;
}
h2{
   font-size: 2.25rem;
   margin: 0;
}

.paragraph{
   font-size: 1.125rem;
   margin: 0;
}


.color-primary{
   color: #fa2759 !important;
}
.color-secondary{
   color: #2dfcd8 !important;
}
.color-gray{
   color: #1a1a1a;
}
.color-black{
   color: black;
}
.color-white{
   color: white;
}
.bg-black{
   background-color: black;
}
.bg-gray{
   background-color: #1a1a1a;
}
.bg-white{

   background-color: white;
}
.prime-container {
   margin-left: 14rem;
   margin-right: 14rem;
   max-width: 100%;
}

.button-secondary{
   color: #2dfcd8;
   border: solid 1px #2dfcd8;
   background-color: transparent;
   cursor: pointer;

   &:hover{

      color: white;
      background-color: #2dfcd8;
   }
}
.button-primary{
   color: #fa2759;
   border: solid 1px #fa2759;
   background-color: transparent;
   cursor: pointer;

   &:hover{

      color: white;
      background-color: #fa2759;
   }
}

.button-primary-active{
   border: solid 1px #fa2759;
   cursor: pointer;
   color: white;
   background-color: #fa2759;
}

.padding-top-s{
   padding-top: 0.75rem;
}

.padding-top-m{
   padding-top: 1.25rem;
}

.padding-top-l{
   padding-top: 1.75rem;
}

.padding-top-xl{
   padding-top: 2.25rem;
}

.padding-top-xxl{
   padding-top: 6.25rem;
}

.padding-bot-s{
   padding-bottom: 0.75rem;
}

.padding-bot-m{
   padding-bottom: 1.25rem;
}

.padding-bot-l{
   padding-bottom: 1.75rem;
}

.padding-bot-xl{
   padding-bottom: 2.25rem;
}

.padding-bot-xxl{
   padding-bottom: 6.25rem;
}

.img-overlay{
   position: absolute;
   z-index: 1;
   opacity: 0;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ffffffbe;

   &:hover{
      opacity: 100;
   }

   button{
      background-color: white;

      &:hover{
         background-color: #fa2759;
      }
   }
}

.work-pictures{
   flex-wrap: wrap;
   width: 100%;
   display: flex;
   justify-content: center;
}

.work-pictures-single{
   position: relative;
   margin: 1rem;
   width: calc(50% - 1rem);

   img{
      width: 100%;
   }

}


.becomeVisible{
   animation:becomeVisible .6s ease-in-out 0s 1 normal forwards;
}

@keyframes becomeVisible{
   0%{opacity:0}to{opacity:1};
}

.becomeVisibleLighter{
   animation:becomeVisibleLighter 3s ease-in-out 0s 1 normal forwards;
}

@keyframes becomeVisibleLighter{
   0%{opacity:0}to{opacity:.6};
}

.inactive{
   display:block
}

.flyInLeft{
   animation:flyInLeft .8s ease-in-out 0s 1 normal forwards;
}

.flyInLeftLater{
   animation:flyInLeft .8s ease-in-out .5s 1 normal forwards;
}

.flyInRight{
   animation:flyInRight .8s ease-in-out 0s 1 normal forwards;
}

.flyInRightLater{
   animation:flyInRight .8s ease-in-out .5s 1 normal forwards;
}

@keyframes flyInLeft{
   0%{transform:translate(-7.5rem);opacity:0}to{transform:translate(0);opacity:1};
}
@keyframes flyInRight{
   0%{transform:translate(7.5rem);opacity:0}to{transform:translate(0);opacity:1};
}


